h1,
h2 {
  font-family: Lato;
}
.button {
    border: 1px solid white;
  width: 23%;
  height: 300px;
}
#gray {
  background-color: gray;
}
#white {
  background-color: white;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
