.container{
    background-color: gray;
    text-align: center;
    align-items: center;
}
#heading{
    font-size: 30px;
    font-weight: 200;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}